ADF/pipeline/lsv_alerts_drfe_pl.json
{
	"name": "lsv_alerts_drfe_pl",
	"properties": {
		"activities": [
			{
				"name": "load_lost_sales_value",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/dataplatform-retail-alertgeneration/load_lost_sales_value",
					"baseParameters": {
						"Retailer_Client": {
							"value": "@pipeline().parameters.Retailer_Client",
							"type": "Expression"
						},
						"recordSourceCode": {
							"value": "@pipeline().parameters.recordSourceCode",
							"type": "Expression"
						},
						"ADF_Pipeline_RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "azuredatabricks_alertgen_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "load_dynamic_retail_osa",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "load_lost_sales_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/dataplatform-retail-alertgeneration/load_dynamic_retail_osa",
					"baseParameters": {
						"ADLS_Account_Name": {
							"value": "@pipeline().parameters.ADLS_Account_Name",
							"type": "Expression"
						},
						"Retailer_Client": {
							"value": "@pipeline().parameters.Retailer_Client",
							"type": "Expression"
						},
						"recordSourceCode": {
							"value": "@pipeline().parameters.recordSourceCode",
							"type": "Expression"
						},
						"ADF_Pipeline_RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "azuredatabricks_alertgen_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "load_dynamic_retail_invcleanup",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "load_lost_sales_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/dataplatform-retail-alertgeneration/load_dynamic_retail_invcleanup",
					"baseParameters": {
						"ADLS_Account_Name": {
							"value": "@pipeline().parameters.ADLS_Account_Name",
							"type": "Expression"
						},
						"Retailer_Client": {
							"value": "@pipeline().parameters.Retailer_Client",
							"type": "Expression"
						},
						"recordSourceCode": {
							"value": "@pipeline().parameters.recordSourceCode",
							"type": "Expression"
						},
						"ADF_Pipeline_RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "azuredatabricks_alertgen_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "read_client_list",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "load_lost_sales_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "wasb_alert_generation_ds",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "param_osa_subalert_client_list.json"
						}
					}
				}
			},
			{
				"name": "if_low_expected_enabled",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set_client_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('client_list'), split(pipeline().parameters.Retailer_Client, '_')[1])",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "load_dynamic_retail_osa_low_expected_sale_copy1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/dataplatform-retail-alertgeneration/load_dynamic_retail_osa_low_expected_sale",
								"baseParameters": {
									"retailer_client": {
										"value": "@concat(split(pipeline().parameters.Retailer_Client,'_')[0],'_',split(pipeline().parameters.Retailer_Client,'_')[1])",
										"type": "Expression"
									},
									"record_source_code": {
										"value": "@pipeline().parameters.recordSourceCode",
										"type": "Expression"
									},
									"membership_multipler": {
										"value": "@pipeline().parameters.membership_multipler",
										"type": "Expression"
									},
									"country_code": {
										"value": "@pipeline().parameters.country_code",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azuredatabricks_alertgen_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "set_client_list",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "read_client_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "client_list",
					"value": {
						"value": "@activity('read_client_list').output.firstRow.low_expected",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ADLS_Account_Name": {
				"type": "String"
			},
			"Retailer_Client": {
				"type": "String"
			},
			"recordSourceCode": {
				"type": "String"
			},
			"membership_multipler": {
				"type": "string"
			},
			"country_code": {
				"type": "string"
			}
		},
		"variables": {
			"client_list": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}