ADF/pipeline/master_alter_notebook_pl.json
{
	"name": "master_alter_notebook_pl",
	"properties": {
		"activities": [
			{
				"name": "get_retailer_client_list_lkup",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "wasb_common_client_list_src_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "frlp_retailer_client_initial",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_retailer_client_list_lkup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('get_retailer_client_list_lkup').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "alter_notebook_pl",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "alter_notebook_pl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"retailer_client_name": {
										"value": "@replace(replace(toLower(item().Prop_0),'-',''), ' ','')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		]
	}
}